.Fun {
    .Integer {
        background-color: hotpink
    }

    .ValueExpression {
        background-color: deeppink
    }

    .BinaryExpression {
        background-color: lightpink
    }

    .ConcreteIdent {
        background-color: lightcoral
    }

    .Function {
        background-color: cadetblue
    }

    .FunctionCallExpression {
        background-color: palegoldenrod
    }

    .ConditionalExpression {
        background-color: aquamarine
    }

    .Program {
        background-color: deepskyblue
    }
}
