body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    padding: 20px;
    background-color: aliceblue;
}

.main-pane {
    flex: 1;
    display: flex;

    .expand {
        flex: 1;
    }

    #vm-div {
        display: flex;
    }

    #vm-div > div {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}

.instructions {
    flex: 1;
    overflow-y: scroll;

    .instruction {
        border: 1px solid black;
        margin: 5px;
        display: flex;

        .index {
            margin-right: 20px;
        }
    }

    .instruction.current-ip {
        background-color: lime;
    }
}

.stack {
    .element {
        border: 1px solid black;
        background-color: darkgoldenrod
    }
}


.env {
    .element {
        border: 1px solid black;
        background-color: cornflowerblue
    }
}

.ast-node {
    margin: 5px;
    border: 1px solid black;

    .title {
        font-style: italic;
        font-weight: bold;
        pointer-events: none;
        border: 1px solid grey;
    }
    
    .content {
        display: flex;
        flex-direction: row;
        border: 1px solid grey;
    }
}

.ast-node.AssignmentStatement {
    background-color: aliceblue;
}

.ast-node.WhileStatement {
    background-color: lightsalmon;
}

.ast-node.Integer {
    background-color: palegreen;
}