$transition-delay: 0.2s;
$executing-color: lime;

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.header {
    padding: 20px;
    background-color: aliceblue;
}

.ast-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    .ast-list-row {
        display: flex;
        align-items: center;
        width: 100%;

        .ast-list-row-index {
            width: 20px;
            text-align: center;
            font-style: italic;
            font-weight: bold;
            font-size: 0;
            transition: width 2s, font-size 2s;
            transition-delay: $transition-delay;
        }

        .ast-list-row-content {
            flex: 1;
        }

        .ast-list-row-buttons {
            display: flex;
        }
    }
}

@mixin button-invisible {
    width: 0px;
    height: 0px;
    font-size: 0%;
    border: 0;
    margin: 0;
    padding: 0;
}

@mixin button-visible {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 2px;
    margin-right: 2px;
    height: 20px;
    width: initial;
    border: 1px solid black;
    font-size: 100%;
}

.ast-button {
    background-color: green;
    @include button-invisible();
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: width 2s ease-in-out, height 2s ease-in-out, font-size 2s ease-in-out, border 2s ease-in-out, margin 2s ease-in-out, padding 2s ease-in-out;
    transition-delay: $transition-delay;
}

.ast-button.cannot-hide {
    @include button-visible();
}

.ast-button:hover {
    background-color: beige;
}

.main-pane {
    flex: 1;
    display: flex;

    .expand {
        flex: 1;
    }

    #vm-div {
        display: flex;
    }

    #react-vm-div {
        display: flex;
        flex-direction: column;
    }

    #vm-div > div {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}

.vm-state {
    display: flex;
    flex-direction: column;
}

.change-list {
    display: flex;
    overflow-x: scroll;
    width: 600px;

    .change {
        width: 150px;
    }
}

.instructions {
    flex: 1;
    overflow-y: scroll;

    .instruction {
        border: 1px solid black;
        margin: 5px;
        display: flex;
        align-items: center;
        font-size: smaller;

        .labels {
            width: 100px;
        }

        .index {
            margin-right: 20px;
        }

        .opcode {
            font-weight: bold;
            margin-right: 20px;
        }

        .args {
            font-style: italic;

            .label {
                font-size: smaller;
                border: 1px solid black;
                margin: 1px;
                font-weight: bold;
            }
        }

        .active-ast-nodes {
            margin-left: 20px;
            display: flex;
            align-items: center;

            .active-node {
                font-size: smaller;
                border: 1px solid black;
                margin: 1px;
            }
        }
    }

    .instruction.current-ip {
        background-color: $executing-color;
    }

    .instruction.within-range {
        background-color: mediumaquamarine;
    }

    .instruction.selected-label {
        background-color: hotpink
    }
}

.label {
    font-weight: bold;
    font-style: italic;
}


.ast-node {
    min-height: 10px;
    min-width: 10px;

    border: 1px solid transparent;

    transition: margin 2s ease-in-out, border 0.1s ease-in-out;
    transition-delay: $transition-delay;
    
    & > .title {
        font-style: italic;
        font-weight: bold;
        pointer-events: none;
        font-size: 0%;
        transition: font-size 2s, margin 2s;
        transition-delay: $transition-delay;
    }

    &.hovering-0 {
        margin: 1px;
        border: 1px solid black;
        
        & > .title {
            font-size: 100%;
        }

        .ast-list-row-index {
            width: 30px;
            font-size: medium
        }
        
        .ast-button {
            @include button-visible();
        }

        .ast-node.not-hovering {
            .ast-button {
                @include button-invisible();
            }
        }
    }

    &.hovering-1 {
        & > .title {
            font-size: 90%;
        }
    }

    &.hovering-2 > {
        .title {
            font-size: 80%;
        }
    }

    &.hovering-3 > {
        .title {
            font-size: 70%;
        }
    }

    &.hovering-4 > {
        .title {
            font-size: 60%;
        }
    }

    &.hovering-5 > {
        .title {
            font-size: 50%;
        }
    }

    &.hovering-0 {
        margin: 5px;
    }

    .ast-row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.ast-node.clicked {
   border: 2px solid gold;
}

.ast-node.executing {
    border: 2px solid $executing-color;
}

.syntax {
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

.keyword {
    font-weight: bold;
    color: darkblue;
    margin-right: 10px;
    margin-left: 10px;
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: center;

    .frame {
        border: 1px solid red;
        padding: 5px;
        background-color: pink;
    }

    .element {
        border: 1px solid black;
        background-color: darkgoldenrod;
        padding: 5px;
    }
}

.env {
    display: flex;
    flex-direction: column;
    align-items: center;

    .element {
        border: 1px solid black;
        background-color: pink;
        padding: 5px;

        .mapping {
            display: flex;

            .key {
                font-style: italic;
            }

            .arrow {
                margin-left: 10px;
                margin-right: 10px;
            }

            .value {
                font-weight: bold;
            }
        }
    }
}

.ast-wrapper {
    & > .title {
        text-align: center;
        font-style: italic;
        display: none;
    }
}

.ast-wrapper.mouseover {
    & > .title {
        display: inherit;
    }
}

.empty-ast {
    input {
        width: 100%;
        min-width: 50px;
    }

    &.not-required {
        input {
            background-color: transparent;
            color: black;
            border: 0;
            transition: background-color 2s ease-in-out
        }

        input:focus {
            background-color: teal;
        }

        input::-webkit-input-placeholder {
            color: black;
        }

        input::-moz-placeholder {
            color: black;
        }

    }

    .possibilities {
        background-color: red;
        display: flex;
        flex-direction: column;
        position: absolute;

        .possibility {
            padding: 10px;
            background-color: blue;
        }

        .possibility.highlighted {
            background-color: yellow;
        }
    }
}

.ast-input {
    background-color: transparent;
    border: none;
    font: inherit;
    min-width: 20px;
}

.ast-select {
    background-color: transparent;
    border: none;
    font: inherit;
}