.Lang {
    .Statements {
        background-color: peru;
    }

    .AssignmentStatement {
        background-color: aliceblue;
    }

    .WhileStatement {
        background-color: lightsalmon;
    }

    .Integer {
        background-color: palegreen;
    }

    .ValueExpression {
        background-color: peachpuff;
    }

    .BinaryExpression {
        background-color: chocolate
    }

    .ConcreteIdent {
        background-color: springgreen
    }

    .Method {
        background-color: tomato
    }

    .MethodCallStatement {
        background-color: olive
    }

    .Program {
        background-color: lightslategray
    }

    .ReturnStatement {
        background-color: goldenrod
    }

    .ExpressionStatement {
        background-color: rgb(134, 114, 191)
    }
}
